<!-- Nav bar -->
<nav>
    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="topbar-responsive-links" id="menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><a href="{{ site.url }}">{{ site.author.last_name }}&nbsp;{{ site.author.first_name }}&nbsp;{{ site.author.middle_name }}</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>