Related!!!

{% if page.id and page.related and site.related_posts.size > 0 %}
<div class="page__related">
    <h2 class="page__related-title">{{ related_routes }}</h2>
    <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
        RELATED
        {% endfor %}
    </div>
</div>
{% elsif page.id and page.related %}
<div class="page__related">
    <h2 class="page__related-title">{{ related_routes }}</h2>
    <div class="grid__wrapper">
        {% for post in site.posts limit:4 %}
        {% if post.id == page.id %}
        {% continue %}
        {% endif %}
        RELATED
        {% endfor %}
    </div>
</div>
{% endif %}